.container {
    display: flex;
    flex-wrap: wrap;
    /* width: 160px; */
    border: 1px solid black;
}

.box {
    /* width: 10px;
    height: 10px; */
    background-color: white;
    border: 0px solid black;
}

